.individual_page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .individual_page__content {
    padding-top: 7vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    height: 100%;
    width: 100%;
    background: transparent;
    color: black;
    .banner {
      height: 40%;
      width: 100%;
      background-color: pink;
    }

    .movieInfo {
      height: 10%;
      width: 100%;
      background-color: yellow;
    }

    .trailer_area {
      width: 100%;
    }
  }

  .errorMessage {
    height: 30vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
