.info_container {
  display: flex;
  align-items: center;
  min-height: 100%;
  height: auto;
  width: 90%;
  min-width: 100px;
  background-color: rgba(0, 0, 0, 0.217);
  border-radius: 3px;

  p {
    margin-left: 20px;
    margin-right: 20px;
    display: block;
    font-size: 2vw;
    width: 100%;
    color: white;
  }
}

@media only screen and (min-width: 650px) {
  .info_container {
    width: 50%;
    p {
      font-size: 12px;
    }
  }
} ;
