.info_container {
  display: flex;
  min-height: 100%;
  height: auto;
  width: 90%;
  min-width: 100px;
  background-color: rgba(0, 0, 0, 0.217);
  border-radius: 3px;

  p {
    display: block;

    // font-size: 0.7rem;
    font-size: 2vw;

    width: 100%;
    color: white;
  }
}
