.nav {
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  padding-left: 4vw;
  // padding-top: 4vh;
  height: 6.2vh;
  align-items: center;
  justify-content: flex-start;
  // justify-content: center;
  // background-color: blue;
  background: linear-gradient(to top, transparent 0%, rgba(0, 0, 0, 0.366) 50%);

  .nav__logo {
    height: 25px;
    // background-color: pink;
    width: 70px;
    object-fit: contain;
  }

  .nav__avatar {
    border-radius: 50%;
    position: fixed;
    right: 20px;
    width: 30px;
    height: 30px;
    object-fit: cover;
  }
}

.nav__black {
  background-color: #111;
}
