//mobile first

.row {
  background-color: black;
  h2 {
    color: white;
  }

  .row__posters {
    display: flex;
    // flex-basis: auto;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;

    &::-webkit-scrollbar {
      display: none;
    }

    .row__poster {
      object-fit: contain;
      width: 100%;
      //   max-height: 100px;
      height: 25vh;
      margin-right: 10px;
      transition: transform 450ms;

      &:hover {
        transform: scale(1.08);
      }
    }

    .row__posterLarge {
      //   max-height: 500px;
      //   max-height: 60vh;
      height: 60vh;
      &:hover {
        transform: scale(1.09);
      }
    }
  }
}

//desktop
