.results_list {
  display: flex;
  flex-direction: column;
  gap: 2px;
  position: absolute;
  margin-top: 300px;
  background-color: blue;
  font-size: 0.7rem;
  height: 100px;
  width: 100px;
  color: white;

  border-radius: 7px;
  max-height: 200px;
  overflow-y: scroll;
}
