.row {
  padding: 0.5rem;
  padding-left: 0;

  background: transparent;
  h2 {
    color: rgba(255, 255, 255, 0.758);
    margin-bottom: 0.5rem;
    font-family: "Nunito Sans";
    font-size: 1rem;
    font-weight: 600;
  }

  .row__posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    gap: 20px;
    flex-direction: row;
  }
}
