//mobile first

.row {
  padding: 0.5rem;
  padding-left: 0;

  background: transparent;
  h2 {
    color: rgba(255, 255, 255, 0.758);
    margin-bottom: 0.5rem;
    font-family: "Nunito Sans";
    font-size: 1rem;
    font-weight: 600;
  }

  .row__posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    // NEW
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    gap: 20px;
    /* flex-wrap: wrap; */
    flex-direction: row;
    // END NEW

    // .row__poster {
    //   object-fit: cover;
    //   width: 100%;
    //   height: 25vh;
    //   margin-right: 10px;
    //   transition: transform 450ms;

    //   &:hover {
    //     transform: scale(1.08);
    //   }
    // }

    // .row__posterLarge {
    //   height: 60vh;
    //   &:hover {
    //     transform: scale(1.09);
    //   }
    // }
  }
}

//desktop
